.foto {
	width: 212px;
	border: solid 1px black;
	
	
}

h1 {
	text-align: center;
}

#principal {
	border: solid 1px black;
	width: 60%;
	margin: 0 auto;
	padding: 5px;

}

fieldset{
	margin-bottom: 5px;
}

h3 {
	text-decoration: underline;
}

body {
	background-color: khaki;
}